<!DOCTYPE html>
<html>
  <head>
    <title>To-Do</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    
    <meta name="viewport" content="initial-scale=1.0,  width=device-width" />
    <script src="https://js.hereapi.cn/v3/3.0/mapsjs-core.js" 
      type="text/javascript" charset="utf-8"></script>
    <script src="https://js.hereapi.cn/v3/3.0/mapsjs-service.js" 
      type="text/javascript" charset="utf-8"></script>
    <script src="https://js.hereapi.cn/v3/3.0/mapsjs-ui.js" 
      type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" 
      href="https://js.hereapi.cn/v3/3.0/mapsjs-ui.css" />
    
  </head>

  <body>
  	<%= render 'layouts/navigation' %>
    <%= render 'layouts/notices' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
